<html>
<head>
	<link rel="icon" href="assets/as.ico">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/navigation.css">
	<title>toward a new world</title>
</head>
<body>
	<a id="configure" class="button" href="/configuration">
			<span class="text">configure</span>
	</a>
	<a id="play" class="button" href="/listen">
		<span class="text">play</span>
	</a>
	<span id="version">
	<div id="notification" class="hidden">
	  <p id="message"></p>
	  <button id="close-button" onClick="closeNotification()">
	    Close
	  </button>
	  <button id="restart-button" onClick="restartApp()" class="hidden">
	    Restart
	  </button>
	</div>
</body>
</html>