<html>

<head>
  <title>the thought goes nowhere</title>
  <link rel="icon" href="assets/as.ico">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
  <script src="https://unpkg.com/lodash"></script>
  <script src="https://unpkg.com/p5@0.10.2/lib/p5.js"></script>
  <script src="https://unpkg.com/tone@latest/build/Tone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
  <script src="vendor/tonal.js"></script>
  <!--TODO: These are just big objects. Is there a better way to store this? -->
  <script src="assets/formants.js"></script>
  <script src="assets/colorMap.js"></script>
</head>
<body>
	<div id="canvas-holder"></div>
	<img id="screenshot-button" src="assets/camera.svg" title="screenshot"></img>
	<img id="fullscreen-button" src="assets/fullscreen.svg" title=" fullscreen"></img>
	<div id="about-banner">
		<p class="header"><span class="title">Vibrations</span> is a tool for cybermystic contemplation.</p>
		<p class="subtext"><span class="title">Vibrations</span> helps the universe communicate through synchronicity by combining waves of color and sound with AI-generated text. Each instance is unique to you, now. Please use it when you're getting lost.</p> 
		<p class="subtext">Words trained on the new age internet and sound-to-light correspondence based on mystical 1900s system. <a class="blogpost" href="https://github.com/brokyo/prepare" target="_blank">[README]</a></p>

		<div id="download-button"><a href="https://drive.google.com/drive/folders/1vBZ6XEk-VPXZvJdSQy9ozVcvWhoVe3le" target="_blank">Desktop app with Philips Hue integration</div></a>
	
		<div id="start-button"><span>it only works if you believe</span></div>
	</div>
	<img id="logo" src="assets/as.svg" onmouseover="hover(this)" onmouseout="unhover(this)" />
	<script src="js/prepare.js"></script>
</body>
</html>
